*.iml
.DS_Store
.editorconfig
.eslintcache
.gitattributes
.idea/
.idea_modules/
.jshintrc
.nyc_output/
.sass-cache/
.tmp
.vscode
.yo-rc.json
/out/
app/bower_components
atlassian-ide-plugin.xml
bower_components/
com_crashlytics_export_strings.xml
coverage
crashlytics-build.properties
crashlytics.properties
dist/
ios
node_modules/
npm-debug.log
xunit.xml
report.json
report.html
cucumber_report*
stats.json
